<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="style/acm-pub.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github-gist.min.css">
    <link href="style/style.css" rel="stylesheet" />
</head>

<body>
    <header id="title-page" class="page">
        <h1>Ebay Item &#8470; 151990485080</h1>
        <p>a commercial transaction between</p>
        <h2>mjbierner</h2>
        <p>and</p>
        <h2>______</h2>
        <p>in which</p>
        <h1>99&cent;</h1>
        <p>was exchanged for</p>
        <h2>one printed copy of the auction page source</h2>
    </header>

    <article id="content">
        {{ content }}
    </article>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>

</html>